<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PageObjectModel" parallel="false">
  
  <listeners>
  	<listener
  		class-name= "com.qa.ExtentReportListener.ExtentReporterNG"/>
  </listeners>
  
  
  <test name="Free CRM Test">
    <classes>
      <class name="com.crm.tests.LoginTest"/>
      <class name="com.crm.tests.HomePageTest"/>
      <class name="com.crm.tests.ContactPageTest"/>
      <class name="com.crm.tests.RubbishPageTest"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
